<!-- HEADER -->
<div class="flex justify-center w-full pb-12 bg-gray-900">
  <div class="w-full max-w-6xl px-4">
    <div
      *ngIf="dataState.snapshot.settings"
      class="flex flex-col items-center justify-between w-full py-8 space-y-6  sm:flex-row sm:space-y-0"
    >
      <img
        [routerLink]="'/'"
        class="h-10 cursor-pointer select-none"
        [src]="dataState.snapshot.settings.brandingLogoSrc"
        alt=""
      />

      <div class="text-center sm:text-right max-w-[400px]">
        <p class="text-2xl font-bold text-gray-50">
          {{ dataState.snapshot.settings.brandingTitle }}
        </p>
        <p class="text-gray-400">
          {{ dataState.snapshot.settings.brandingDescription }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center w-full -mt-12">
  <div
    class="flex items-center w-full max-w-6xl p-6 mx-4 space-x-6 text-xl font-bold bg-white shadow-lg  sm:text-4xl rounded-xl sm:p-12"
  >
    <div class="relative hidden sm:block">
      <svg
        [ngClass]="
          DataState.getOverallStatus(dataState.snapshot).status === 'up'
            ? ['text-green-400']
            : DataState.getOverallStatus(dataState.snapshot).status === 'down'
            ? ['text-red-400']
            : DataState.getOverallStatus(dataState.snapshot).status === 'slow'
            ? ['text-yellow-400']
            : ['text-gray-200']
        "
        viewBox="0 0 100 100"
        class="w-14 h-14"
      >
        <circle cx="50" cy="50" r="40" fill="currentColor" />
      </svg>

      <div class="absolute inset-0">
        <svg
          viewBox="0 0 100 100"
          [ngClass]="
            DataState.getOverallStatus(dataState.snapshot).status === 'up'
              ? ['text-green-400']
              : DataState.getOverallStatus(dataState.snapshot).status === 'down'
              ? ['text-red-400']
              : DataState.getOverallStatus(dataState.snapshot).status === 'slow'
              ? ['text-yellow-400']
              : ['text-gray-200']
          "
          class="w-14 h-14 animate-ping"
        >
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </svg>
      </div>
    </div>
    <div
      class="text-center text-gray-900 sm:text-left"
      *ngIf="DataState.getOverallStatus(dataState.snapshot).status === 'up'"
    >
      All systems are <span class="text-green-400">operational</span>
    </div>

    <div
      class="text-center text-gray-900 sm:text-left"
      *ngIf="DataState.getOverallStatus(dataState.snapshot).status === 'down'"
    >
      {{ DataState.getOverallStatus(dataState.snapshot).amount }}
      {{
        DataState.getOverallStatus(dataState.snapshot).amount === 1
          ? "system is"
          : "systems are"
      }}
      <span class="text-red-400">down</span>
    </div>

    <div
      class="text-center text-gray-900 sm:text-left"
      *ngIf="DataState.getOverallStatus(dataState.snapshot).status === 'slow'"
    >
      {{ DataState.getOverallStatus(dataState.snapshot).amount }}
      {{
        DataState.getOverallStatus(dataState.snapshot).amount === 1
          ? "system is"
          : "systems are"
      }}
      <span class="text-yellow-400">slow</span>
    </div>
  </div>
</div>
<!-- HEADER END -->

<router-outlet></router-outlet>

<!-- CONTACT BOX -->

<div
  class="flex flex-col items-center justify-center w-full mt-8 space-y-4"
  *ngIf="dataState.snapshot.settings"
>
  <div class="w-full max-w-6xl px-4">
    <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">
      Urgent contact information
    </h1>
  </div>
  <div class="w-full max-w-6xl px-4">
    <div
      class="flex flex-col items-stretch justify-between w-full h-full p-3 space-x-0 space-y-6 bg-gray-900 shadow-lg  rounded-xl sm:p-6 md:flex-row md:space-x-6 md:space-y-0"
    >
      <div class="flex items-center justify-center space-x-4 md:justify-start">
        <div
          class="
            p-4
            rounded-full
            bg-[rgba(0,0,0,0.7)]
            text-brand-400
            hidden
            sm:block
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            />
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
          </svg>
        </div>

        <div class="text-left">
          <p class="text-sm font-bold text-center text-brand-400 sm:text-left">
            Contact email
          </p>
          <p class="text-lg text-white">
            {{ dataState.snapshot.settings.contactEmail }}
          </p>
        </div>
      </div>

      <div
        class="flex flex-row items-center justify-center space-x-4  md:space-x-reverse space-x md:flex-row-reverse md:justify-start"
      >
        <div
          class="
            p-4
            rounded-full
            bg-[rgba(0,0,0,0.7)]
            text-brand-400
            hidden
            sm:block
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
            />
          </svg>
        </div>

        <div class="text-right">
          <p class="text-sm font-bold text-center text-brand-400 sm:text-left">
            Contact phone number
          </p>
          <p class="text-lg text-white">
            {{ dataState.snapshot.settings.contactPhone }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTACT BOX END -->

<!-- FOOTER -->
<div class="block h-6 lg:h-16"></div>

<div
  class="relative bottom-0 flex justify-center w-full p-3 text-sm bg-gray-900  lg:fixed"
>
  <div
    class="flex flex-col justify-center w-full max-w-6xl space-x-0 space-y-3  lg:flex-row lg:justify-between lg:space-y-0 lg:space-x-3"
  >
    <div
      class="flex flex-col items-center justify-center w-full space-y-3  sm:flex-row lg:w-auto lg:justify-start sm:space-y-0"
    >
      <div class="flex items-center">
        <div class="relative mr-2">
          <svg
            [ngClass]="
              DataState.getOverallStatus(dataState.snapshot).status === 'up'
                ? ['text-green-400']
                : DataState.getOverallStatus(dataState.snapshot).status ===
                  'down'
                ? ['text-red-400']
                : DataState.getOverallStatus(dataState.snapshot).status ===
                  'slow'
                ? ['text-yellow-400']
                : ['text-gray-200']
            "
            viewBox="0 0 100 100"
            class="w-2 h-2"
          >
            <circle cx="50" cy="50" r="40" fill="currentColor" />
          </svg>

          <div class="absolute inset-0">
            <svg
              viewBox="0 0 100 100"
              [ngClass]="
                DataState.getOverallStatus(dataState.snapshot).status === 'up'
                  ? ['text-green-400']
                  : DataState.getOverallStatus(dataState.snapshot).status ===
                    'down'
                  ? ['text-red-400']
                  : DataState.getOverallStatus(dataState.snapshot).status ===
                    'slow'
                  ? ['text-yellow-400']
                  : ['text-gray-200']
              "
              class="w-2 h-2 animate-ping"
            >
              <circle cx="50" cy="50" r="40" fill="currentColor" />
            </svg>
          </div>
        </div>

        <p
          *ngIf="DataState.getOverallStatus(dataState.snapshot).status === 'up'"
          class="font-bold text-green-400"
        >
          All systems are operational
        </p>

        <p
          *ngIf="
            DataState.getOverallStatus(dataState.snapshot).status === 'down'
          "
          class="font-bold text-red-400"
        >
          {{ DataState.getOverallStatus(dataState.snapshot).amount }}
          {{
            DataState.getOverallStatus(dataState.snapshot).amount === 1
              ? "system is"
              : "systems are"
          }}
          down
        </p>

        <p
          *ngIf="
            DataState.getOverallStatus(dataState.snapshot).status === 'slow'
          "
          class="font-bold text-yellow-400"
        >
          {{ DataState.getOverallStatus(dataState.snapshot).amount }}
          {{
            DataState.getOverallStatus(dataState.snapshot).amount === 1
              ? "system is"
              : "systems are"
          }}
          slow
        </p>
      </div>

      <div class="flex items-center">
        <svg
          viewBox="0 0 100 100"
          class="hidden w-2 h-2 mx-4 text-gray-600 sm:block"
        >
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </svg>

        <p class="text-gray-400">
          Live update in {{ nextReloadInSeconds }}
          {{ nextReloadInSeconds === 1 ? "second" : "seconds" }}
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-center w-full space-y-3 text-center  sm:flex-row sm:text-left lg:w-auto lg:justify-start sm:space-y-0"
    >
      <p class="flex items-center justify-center text-gray-50 sm:justify-start">
        {{ DataState.getTotalOfStatus(dataState.snapshot) }} Total

        <svg
          viewBox="0 0 100 100"
          class="hidden w-2 h-2 mx-4 text-gray-600 sm:block"
        >
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </svg>
      </p>

      <p
        class="flex items-center justify-center text-green-400 sm:justify-start"
      >
        {{ DataState.getTotalOfStatus(dataState.snapshot, "up") }} Operational
        <svg
          viewBox="0 0 100 100"
          class="hidden w-2 h-2 mx-4 text-gray-600 sm:block"
        >
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </svg>
      </p>

      <p class="flex items-center justify-center text-red-400 sm:justify-start">
        {{ DataState.getTotalOfStatus(dataState.snapshot, "down") }} Down
        <svg
          viewBox="0 0 100 100"
          class="hidden w-2 h-2 mx-4 text-gray-600 sm:block"
        >
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </svg>
      </p>

      <p
        class="flex items-center justify-center text-yellow-400  sm:justify-start"
      >
        {{ DataState.getTotalOfStatus(dataState.snapshot, "slow") }} Slow
      </p>
    </div>
  </div>
</div>
<!-- FOOTER END -->
