@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Nunito", sans-serif;
}

.triangle {
  width: 15px;
  height: 15px;
  margin-left: -4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
}
